#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, .header {
    flex-shrink: 0;
}

main {
    flex: 1;
}

.logo {
    height: 8.6em;
    padding: 1.5em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #780000;
    background-color: #C1121F;
    height: 5.5em;
}

.header-text {
    font-family: "times New Roman", serif;
    color: #e3e3e3;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.user-img {
    height: 3.5em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #FDF0D5;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #780000;
    background-color: #C1121F;
    height: 3.5em;
    color: floralwhite;
}

.all-articles-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1em;
}

.all-articles-dropdowns {
    display: flex;
    gap: 1em;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.article-card {
    transition: transform .2s;
}

.article-card:hover {
    transform: scale(1.05);
}

.link {
    text-decoration: none;
}


.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.article-paras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 65%;
    margin-top: 1em;
}

.article-body {
    padding: 0.5em;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
}

.comment-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid slategray;
    background-color: #ececec;
    border-radius: 1em;
    padding: 0.4em;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 60%;
    margin-bottom: 1em;
}

.test {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.hide-comments {
    color: slategray;
    text-decoration: underline dotted;
    cursor: pointer;
}

.voting-system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 60%;
}

.voting-error {
    color: red;
}

.comment-form {
    width: 60%;
}

.comment-err {
    color: red;
}

.comment-delete {
    cursor: pointer;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-left: 2em;
    flex-wrap: wrap;
}

.topic-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-img {
    max-width: 100%;
    height: 30em;
}

.footer-text {
    color: whitesmoke;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    border: 2px solid #ffd3ac;
    border-radius: 1em;
    background-color: #fff4e9;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}

.media-icon {
    height: 4em;
    margin: 1em;
    transition: transform .2s;
}

.media-icon:hover {
    transform: scale(1.05);
}

.pageDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.customPagination {
    display: flex;
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #fd0d0d;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #ca0a0a;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: #ca0a0a;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #fd0d0d;
    --bs-pagination-active-border-color: #d20101;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    list-style: none;
}

.article-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.article-card-votes-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}