#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, .header {
    flex-shrink: 0;
}

main {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

.logo {
    height: 8.6em;
    padding: 1.5em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #780000;
    background-color: #C1121F;
    height: 5.5em;
}

.header-text {
    font-family: "times New Roman", serif;
    color: #e3e3e3;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.user-img {
    height: 3.5em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #FDF0D5;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #780000;
    background-color: #C1121F;
    height: 3.5em;
    color: floralwhite;
}

.all-articles-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    margin: 1em;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.article-card {
    transition: transform .2s;
}

.article-card:hover {
    transform: scale(1.05);
}

.link {
    text-decoration: none;
}


.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.article-paras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.article-image {
    max-width: 100%;
    height: auto;
}

.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 65%;
    margin-top: 1em;
}

.article-body {
    padding: 0.5em;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
}

.comment-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid slategray;
    background-color: #ececec;
    border-radius: 1em;
    padding: 0.4em;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 60%;
    margin-bottom: 1em;
}

.test {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.hide-comments {
    color: slategray;
    text-decoration: underline dotted;
    cursor: pointer;
}

.voting-system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 60%;
}

.voting-error {
    color: red;
}

.comment-form {
    width: 60%;
}

.comment-err {
    color:red;
}